[2014-10-21 07:04] kristianmandrup opened #1 "Please include better usage instructions"
Just been testing the new SANE 2.0 project generator

https://github.com/artificialio/sane/issues/2#issuecomment-59826965

I end by creating a sails `User` resource. I assume that it will automatically be "hooked up" to be Ember Data compatible using the blueprints?

It would perhaps be interesting to be able to create a User resource on both ends with YAG (Yet Another Generator)? Wadda you think?

[2014-10-21 07:13] mphasize commented on #1
Good point!

[2014-10-21 16:48] Globegitter commented on #1
I added some todos and notes in https://github.com/artificialio/sane/issues/9, especially in regards to the generator idea. Feel free to add anything if you have ideas, comments or want to contribute in any way.

[2015-01-15 14:46] alexjp opened #4 "Specify association depth"
Hi,

Could if be possible to allow the depth of associations ( or childs of childs ) to sideload, or specify the models to sideload?

so, something like a -> b ,  b -> c

and json send a, b and c?

[2015-01-15 17:48] mphasize commented on #4
Well, while it's possible to build something like this, it should actually come from Sails / Waterline and would then be dependent on something like nested associations! See https://github.com/balderdashy/waterline/issues/308

[2015-02-09 10:13] Globegitter opened #5 "Contributor access to project"
Hey @mphasize thanks for creating this project. I was wondering if I could contributor access to this repository just so I could make changes/enhancement/merge PRs when needed?

I am not planning to do anything in the short-term, but would be great for when I have some more time in the following weeks when I might have a burst of time just so I can move on things quickly.

I am not planning to cha

[2015-02-09 20:58] mphasize commented on #5
If you want to get busy, I don't want to hold you. :-) Let's try it out.
I would appreciate it, if you could use feature-branches and PR's in the repo to at least document the changes you're making and I might also be able to do some reviews quickly.

[2015-02-09 21:00] mphasize commented on #5
What should be on the immediate roadmap?

[2015-02-10 13:11] Globegitter commented on #5
Yes of course - I will use my power wisely ;) Once I make PRs I will leave them open for at least a day or two. Thank you!

A few things came up multiple times already within Sane. | don't know of the top of my head and I know that within the next few weeks I am busy with other things, but I can see it moving up slowly the priority list.
I will of course let you know beforehand once it moved up th

[2015-02-10 21:39] mphasize commented on #5
Sounds good to me! :)

[2015-02-10 21:39] #5 closed, assigned to nobody

[2015-02-17 15:03] wayne-o opened #7 "sideloaded associations don't have their collection ids"
if you see here:

http://api.test.sonatribe.com/listingevents

you can see that artists are side loaded. cool. however, the artists don't have the images property.

If you drill down to one of the artists you can see it here:

http://api.test.sonatribe.com/artists/54e34a2de4dbefd62c409ad2

While I don't want the associations loaded that deep, when ember receives the sideloaded artist it thinks it

[2015-02-17 15:11] wayne-o commented on #7
Unless I am supposed to do something like this? https://github.com/lfridael/ember-student-example/blob/master/app/routes/student.js

just seems a bit dirty?

[2015-02-17 19:01] mphasize commented on #7
Hi @wayne-o the solution is, that you would actually provide a `links` object in the payload, which describes the deeply nested images in the form of a url to Ember. With `async:true` enabled on the relationship in the Ember model and a url from where to fetch the records provided in the `links` property of the record, Ember knows to load the records (more or less) lazily.
(See http://jsonapi.org/

[2015-02-17 19:04] mphasize commented on #7
Ah, and btw... the IDs are not in the rest response, because in order to fetch the IDs Waterline would actually fetch all the records (at least until https://github.com/balderdashy/waterline/issues/532 get's resolved) and that would give you a pretty big performance impact.

[2015-02-19 09:32] wayne-o commented on #7
Hi,

Thanks for the response - so how do I get sails to respond with the links in the JSON? Is there a param I can send to Sails that will give me the links or is this a manual thing?

Great piece of work btw :)

[2015-02-19 09:36] mphasize commented on #7
In the Ember service included in this repo, there's a function "linkAssociations" that should do the trick. I just needs to get called in the right moment and you'll probably need to modify the blueprints to do just that. If you figure it out and this looks like a general bug in the blueprints, please also consider making a pull request.

[2015-02-19 09:43] wayne-o commented on #7
On it like a car bonnet. I should be able to test today - if it is a bug I won't be able to push a pull until next week - hope that's ok :)

[2015-02-19 10:36] mphasize commented on #7
@wayne-o If you feel adventurous, you might also checkout the PR #9 I just submitted. There's a set of more advanced blueprints that should already handle your `linkAssociations` problem. Still WIP though...

[2015-02-19 10:36] wayne-o commented on #7
OK so this works for URLs like:

http://api.test.sonatribe.com/artists/54e387bbb6cc4b42308e10f2/listingevents

Would it be bad practice to have it specify links to 3rd level associations by default?

So when going here:

http://api.test.sonatribe.com/listingevents

we would get:

top level: listing events
2nd level: artists (links to associated models (images)), locations (links to associated mode

[2015-02-19 10:37] wayne-o commented on #7
Ah just seen your reply, i'll take a look :)

[2015-02-19 10:39] mphasize commented on #7
@wayne-o It would actually be good practice to have the `links` on the 3rd level by default. Creating the `links` property is easy work for the server, compared to indexing or sideloading the records.

[2015-02-22 04:44] albertosouza opened #12 "Move and improve this feature one sails.js 0.11.x hook"
Sais core features are hooks then we can create new features for sails or change the core features  with hooks, and the sails.js 0.11.x has suport to load hooks with npm modules.

Advantages:
1. Suport to upgrades
2. Easy to install ( npm install sails-hook-emberjs ) and done
3. Has access to all sails.js apis, core features and events

Sails hooks docs: https://github.com/balderdashy/sails/tree/m

[2015-02-22 18:13] guiltry opened #13 "[feature] Add beforeAction and afterAction event callback"
Hi,

What if we add an event hook base on sails service.
For example, we can change [this](https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templates/api/blueprints/create.js#L25) part,

[code]

to this,

[code]

and inside beforeCreate service,

[code]

List action:
- beforeCreate [create.js:25](https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templat

[2015-02-22 18:54] mphasize commented on #13
Hi @guiltry – indeed this seems pretty similar to what we're discussing in #9. I like that it enables to use the blueprints in whichever style you want and makes the model lifecycle more powerful. I always wondered why the original Sails beforeCreate lifecycle method was so limited and didn't give access to the request from the client.
@Globegitter What do you think? Should we enable a more powerf

[2015-02-22 19:08] guiltry commented on #13
OMG, sorry I didn't read PR and that just 22 hours ago. Haha.

Doesn't it good? I guess it's the sails team purpose.
So, developers don't make their model more fatter, instead they pull it off to be a reusable component.

[2015-02-26 08:18] wayne-o opened #14 "Possible bug in advanced blueprints?"
I have the following 2 models:

[2015-02-26 10:31] Blackening999 opened #15 "Critical Error: require argument path issue"
Please use lowercased path names, cause in insensitive-case systems it will be a blocker.
refer here for  more information: https://github.com/joyent/node/issues/6000

The same issue inside the sails library: https://github.com/balderdashy/sails-hook-dev/issues/3

[2015-02-26 10:37] Globegitter commented on #15
Yep sorry that was also here my fault. Will fix as soon as I get to it today. Or if you have time for a pr that would be appreciated as well.

[2015-02-26 15:36] mphasize commented on #14
Looks like your comment got swallowed. More Info please. :-)

[2015-02-27 12:49] #14 closed, assigned to nobody

[2015-02-27 12:50] wayne-o commented on #14
Sorry - this shouldn't have sent :)

I thought there was an issue but turned out there wasn't - not sure how it
got submitted

On Thu, Feb 26, 2015 at 3:36 PM, Marcus notifications@github.com wrote:

##

_--------------------_

_w://_

_t: 07508 215 459_

_--------------------_

[2015-02-28 05:34] IanVS commented on #13
@mphasize I've been trying to find a good way to catch 500 errors thrown by MongoDB when adding duplicate values to a unique key.  I tried using a `beforeValidate` lifecycle callback to check up-front if the unique key was already in the database (which I could do) and then send a `res.customResponse()` to send a nice error back to the client (which I can't figure out how to do).  If the lifecycle

[2015-03-01 17:55] Globegitter commented on #13
@mphasize Just had some time to read through that properly and think about that properly. Yeah I think that is a great idea. And not sure if you want to handle this with your PR, but I think any addition from @guiltry would be great!

[2015-03-01 19:30] #15 closed, assigned to nobody

[2015-03-02 08:43] mphasize commented on #7
Referencing this to include it in the discussion, as it's related: https://github.com/mphasize/sails-ember-blueprints/issues/17

[2015-03-02 10:17] mphasize commented on #13
@guiltry @Globegitter

I put together a Policy that removes the need for the uncommented lines in the `create` blueprint. See Gist here: https://gist.github.com/mphasize/a69d86b9722ea464deca

I'm planning to put together another Policy that enables the before\* hooks with access to _req_ on the model definition. This way we can keep this stuff out of the blueprints and have it easily extendable.

[2015-03-02 10:29] Globegitter commented on #13
@mphasize That looks pretty good from what I can tell, but I think would also interest @mgenev who is mostly responsible for https://github.com/Globegitter/sane-auth. To make sure they work nicely together :)

[2015-03-02 10:35] Globegitter commented on #13
Also @mphasize I just had a chat with @huafu the creator of https://github.com/huafu/ember-data-sails. It would be really nice to have these two plugins work nicely together to just get Websockets 'for free'. He said he does want to switch to conform to the RESTAdapter, his biggest question do you know if these blueprints also just work with websockets?
Then he said he could just write a websocket

[2015-03-02 10:45] mphasize commented on #13
@huafu @Globegitter I kept the websocket specific stuff from the original blueprints and didn't modify it. So there's a chance that websockets "just work", however I've never tried it because I'm not yet using sockets.

[2015-03-02 12:34] mphasize commented on #13
@guiltry @Globegitter
Here's the next Policy, enabling "before*Blueprint" hooks into the model with a `(req, res, next)` footprint.
https://gist.github.com/mphasize/e9ed62f9d139d2152445

[2015-03-02 15:09] mphasize opened #17 "Roadmap 0.1.0"
- [x] merge PR #9
- [ ] add some tests, for example if proper configuration options are set
- [ ] add examples and explain all the configuration options and their impact
- [ ] adjust default behavior of advanced to emulate `basic`, unify the 2 sets
- [ ] respect non-default settings for `primaryKey` on Sails models
- [ ] simplify `Ember` service to always use sideloading (embedded style will be a

[2015-03-02 15:16] mphasize opened #18 "Roadmap 0.2.0"
### Search for records with existing relationships

probably dependent on [waterline#509](https://github.com/balderdashy/waterline/pull/509)

Quote from discussion on #9:

### Enable and honour query parameters to include/exclude relationships and properties

similar to [json-api endpoints sideloading](https://github.com/endpoints/ember-data-endpoints#sideloading)
maybe dependent on [waterline#855

[2015-03-02 17:30] anasyb commented on #7
@mphasize I didn't fully understand the links-based solution, would the response look something like:

[code]

Am I missing something?

[2015-03-02 18:40] mphasize commented on #7
@anasyb almost, the response would actually look like this:

[code]

Linked association/relation records are not explicitly defined, the client has to send another request to find out if there are _any_, _how many_ and _which_. But in my previous experience, Ember Data will send the request only when you actually try to get a relationship property.

[2015-03-02 18:51] anasyb commented on #7
I guess that should do... very excited to test this out when its ready.
I am curious how would ember behave in case post 1 was directly loaded in a previous view, I guess it will replace the old record which had the comments array with one which only have the link.

[2015-03-02 21:00] anasyb commented on #7
@mphasize I found a very simple and efficient solution:
1. partially fix waterline by fixing toObject and making it get its act together and stop omitting PK arrays of non-populated associations. I did this (temporary) by commenting the [line to blame for all this mess](https://github.com/balderdashy/waterline/blob/master/lib/waterline/model/lib/defaultMethods/toObject.js#L145). A flag can be set

[2015-03-03 02:53] guiltry commented on #13
@mphasize Beautiful!

[2015-03-03 03:52] huafu commented on #13
@mphasize @Globegitter the latests `master` branch of my adapters (REST and Socket) do work with the latest Sails (0.11) without blueprints by just setting `pluralize: true` of the `blueprints` config of Sails.

I do believe that you can either use one or the other adapter (original `DS.RESTAdapter` or my `SailsSocketAdapter`) for any model, but not both. In that case, as @mphasize blueprints are

[2015-03-03 07:35] mphasize commented on #13
@huafu Yep, thinking along the same lines here. Somebody just needs to go check if it works. :-D

[2015-03-03 07:42] mphasize commented on #13
We do not have a solution for an `after*Blueprint` hook yet, but the use cases for that are a lot rarer than for _before_ and we got a nice policy solution for that, so I will close this issue for the moment.

[2015-03-03 07:42] #13 closed, assigned to nobody

[2015-03-03 07:51] mphasize commented on #7
@anasyb Looks interesting. Are you sure that `userRecord.posts` contains the IDs when you don't populate the association? And yes, it probably wouldn't be more expensive.

(It should be, because a single query with a proper join should be faster, but the last time I took a deep dive into Waterline I saw a nasty query integrator thing – which they need for the cross-database integration of queries,

[2015-03-03 17:04] anasyb commented on #7
@mphasize yes am sure it contain the IDs, at least it did when I tried it :)
I even over-rided the toJSON
The issue is with `toObject`... see this fresh from the console:

[code]
- I am going to file an issue on waterline soon and link it to your issue. Basically they are very similar, only this one is about JSON purposefully omitting association arrays even when they are available (1st order asso

[2015-03-03 17:11] mphasize commented on #7
@anasyb iirc I read something that recent Ember Data versions should be smart enough not to re-fetch the associations, but I will be working with exactly that a bit more over the next weeks and be sure that I will fix more stuff when I find it. I'll take a look at your discovery and see what I can do with it.

[2015-03-03 23:29] huafu commented on #18
@mphasize, about the socket, I need to fix some issue which is actually going on with the socket.io/ember mixin somewhere... So as well as I'll be doing this, I am going to actually test using your blueprints in conjonction with my socket adapter for some other models ;-)

Once done and working I am going to publish a release and try to not forget to give you an update here hehe.

[2015-03-04 08:17] mphasize commented on #18
@huafu That would be awesome. I appreciate it!

[2015-03-04 08:52] Globegitter commented on #17
@mphasize So the only thing here really is just missing tests for mongodb?

[2015-03-04 08:55] mphasize commented on #17
Actually, a simple human trying the new blueprints on a Sails installation with Mongo would be test enough for me for now, since real tests are still missing anyway (but I don't consider those a blocker atm).

[2015-03-04 08:56] Globegitter commented on #17
Ok I will factor in some time this week for that. Can't promise today, but will do. Will actually be quite easy, just using `sane new testproject -d mongo --docker` :)

[2015-03-04 08:59] mphasize commented on #17
I have to admit, that I still have to try Sane... didn't get around to it yet. /ducks

[2015-03-04 09:07] Globegitter commented on #17
Haha no worries, I am sure you'll get around to it at some point.

[2015-03-04 09:37] Globegitter commented on #1
These generators now exist (in the most basic form), the readme here got extended to include a simple example and you can find better tutorials on http://www.100percentjs.com/ as well as http://www.programwitherik.com/sails-js-tutorial-with-ember-js/. So closing this.

[2015-03-04 09:37] #1 closed, assigned to nobody

[2015-03-06 21:05] mphasize commented on #17
@Globegitter Among the PRs on the original Sails repo I've just seen a couple of interesting things especially concerning the blueprints. Maybe we can adapt some of the things for these blueprints...
- https://github.com/balderdashy/sails/pull/2450
- https://github.com/balderdashy/sails/pull/2435
- https://github.com/balderdashy/sails/pull/2445

[2015-03-06 21:32] mgenev commented on #18
Should I talk about the roadmap here or make separate issues? I have some comments on "Enable and honour query parameters to include/exclude relationships and properties" and it also relates to my plans for addition of geo query support

[2015-03-06 21:34] mphasize commented on #18
Feel free to create separate issues, I will try my best to link them back where they belong.

[2015-03-06 21:42] mgenev opened #20 "Enable and honour query parameters to include/exclude relationships and properties"
This question actually popped up in the sane gitter chat and I was thinking of how to accomplish it so I'm glad to see in the road map. I found this issue:
https://github.com/balderdashy/sails/issues/780#issuecomment-61151643

So according to this the 2nd param in the find can let us accomplish this, if it is recognized by the blueprint and passed properly.

I did something similar by adding a bas

[2015-03-06 21:54] mphasize commented on #20
Internally Waterline is also using a `select` option in the query, see here https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/integrator/JOIN_INSTRUCTIONS.md

I think that getting the parameters and passing them to Waterline will probably be one of the lesser problems. I assume that the harder part will be to protect against injections, white-list the selectable columns and

[2015-03-07 04:17] crunchtime-ali commented on #20
I think that protection against injection, whitelisting etc. should be handled at model-level on the Sails-side. As you already stated it will be complicated to handle it at blueprint-level.

Having some mechanism to decorate models (define a subset of their properties) and being able to bind such subsets to policies etc. would be totally handy to achieve the effect.

[2015-03-08 02:39] huafu commented on #18
@mphasize voila `0.0.13` of my [ember-data-sails](http://huafu.github.io/#/ember?name=ember-data-sails) is now out and I've fixed everything which wasn't working. There was a weird bug with sails socket wrapper generating errors on some unrelated stuff, which was fixed if you disabled ember prototype extensions, so I had to do a hack and wait for the `_raw` socket object, but voila, should be work

[2015-03-08 02:59] huafu commented on #13
@mphasize so I've fixed some issue appearing with the prototype extension from Ember conflicting with some stuff in sails io js, and published `0.0.13` of my [ember-data-sails addon](http://huafu.github.io/#/ember?name=ember-data-sails). Then I tested with your blueprints, and it appears that they **do** change the format of the web socket responses too...

So either there is a simple way to disab

[2015-03-08 03:39] huafu commented on #13
@mphasize ok, it **DOES** work by setting the `defaultSerializer` to `'-rest'` in the adapter definition of your application ;-)

[2015-03-09 08:04] mphasize commented on #13
@huafu So we really have an out-of-the-box solution here? That's great news and thanks a lot for figuring out how to do the right setup!

[2015-03-09 21:33] huafu commented on #13
yup! still want to work on more unit tests, but yup, all working ;-)

[2015-03-14 02:02] listepo commented on #12
+1

[2015-03-18 11:43] wayne-o opened #21 "following link model name is all lowercase"
Not sure the title explains it very well!!

Here is an example:

http://api.test.sonatribe.com/users/5508636667da060300c13012/listingEvents

note the model name is all lowercase

where as if you go here: http://api.test.sonatribe.com/listingEvents/55085e9967da060300c12881

it is now camelcase.

here is my model for user:

[code]

and listingEvent:

[code]

This causes ember to blow out with:

[cod

[2015-03-18 12:10] wayne-o commented on #21
could this be related to the commented out code here: https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templates/advanced/api/services/Ember.js#L44

[2015-03-18 12:31] wayne-o commented on #21
I doubt this is a fix that will work but changing this line:

https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templates/advanced/api/blueprints/populate.js#L88

to this:

`documentIdentifier = association.alias;`

fixes it for me

[2015-03-18 20:12] mphasize commented on #21
@wayne-o well spotted! I'll take a look on friday and see if I can fix it.

[2015-03-20 07:44] wayne-o commented on #21
Another one for you :)

here is an object referenced by it's ID:

http://api.test.sonatribe.com/listingevents/550a98aede655a03004520e1

Here is the same object referenced by it's association:

http://api.test.sonatribe.com/artists/550a98afde655a03004520e3/listingEvents

Notice the hasOne location link isn't present when being called through the association

[2015-03-20 11:04] mphasize commented on #21
@wayne-o In the last example you sent me, all the data seems to be there. (I cannot see the missing link.) The difference I see however, is that the result is returned as an object and not in an array. That's something I should fix.

[2015-03-20 12:42] wayne-o commented on #21
Apologies the api has been updated since with my code changes. I should have screen grabbed the output

Sent from my iPhone

[2015-03-22 16:11] #21 closed, assigned to nobody

[2015-03-22 16:13] mphasize commented on #21
@wayne-o I fixed the publish blueprint to use the correct model ID / document identifier.

I think you can name the `association.alias` to something different than the model name, so we wouldn't want to use that directly. Cheers!

[2015-03-22 17:08] wayne-o commented on #21
nice one - will test this out in the am

On Sun, Mar 22, 2015 at 4:13 PM, Marcus notifications@github.com wrote:

##

_--------------------_

_w://_

_t: 07508 215 459_

_--------------------_

[2015-03-23 15:44] HERRKIN opened #23 "Sockets.on([model]) not working with Ember blueprints"
I have a resource user which pluralized is users of course so when I go to the browser console and type io.sockets.on() I dont get anything when using 'user' or 'users' if I update the resource. how do I fix that?

[2015-03-23 18:25] mphasize commented on #23
Unfortunately I cannot help you with sockets (since I know virtually nothing about them).
You may want to try looking here [Sails 0.11 socket changes](https://github.com/balderdashy/sails/blob/master/0.11-migration-guide.md) and here [Ember Data Sails](https://github.com/huafu/ember-data-sails).

If you want to see if you can fix the issue yourself, a good starting point may be here (if you're usi

[2015-03-24 11:56] Globegitter commented on #17
@mphasize just needing embedded support. Was that part of any of the current plans? Is that supposed to be possible now? I can't quite remember if we talked about that before.

[2015-03-24 12:05] Globegitter commented on #17
Aahh should read the README myself :P

[2015-03-26 06:24] mgenev opened #24 "date queries appear broken"
I tried out doing date queries the way the Sails docs has them

`Model.find({ date: { '>': new Date('2/4/2014'), '<': new Date('2/7/2014') } })`

this works when you have a custom controller.

The problem is in the case of the blueprint, http turns dates into strings and when the blueprint is oblivious that a date value comes it doesn't know to cast it and you get an error:

[code]

Please let me

[2015-03-26 16:46] mgenev commented on #24
This may after all be an adapter issue in sails-mongo and may have been fixed by this PR which may not have been released yet:
https://github.com/balderdashy/sails-mongo/commit/1e7f2e1d3798fcf0a510455d54cbacd0f7a0125f

[2015-03-26 16:52] #24 closed, assigned to nobody

[2015-03-27 11:40] alexjp opened #26 "After policy"
Hi,

I am trying to make use of the blueprints and have 2 hooks, for before and after create.
I guess before can be managed by policies, but how to do an after create ( before sending request ) hook ?

thanks

[2015-03-27 12:03] mphasize commented on #24
@mgenev Interesting, do you know if that would have worked with the Sails default blueprints?

[2015-03-27 12:33] mphasize commented on #26
I originally had such a hook in the blueprints, but it turned out that I would just do a lot of evil things with it, so I removed it.
I guess you could modify the blueprints, or add other custom hooks or look into using `responses`.

I would be curious what your use case is going to be.

[2015-03-27 12:35] mphasize commented on #26
Here's the commit that removed it: https://github.com/mphasize/sails-generate-ember-blueprints/commit/5e026191cab97ff22046252a9b6b074bf0174120

[2015-03-27 12:38] mphasize commented on #23
@HERRKIN could you find a solution?

[2015-03-27 13:20] alexjp commented on #26
mphasize : i have a model that when i create it, i have to do alot of log and history inserts.

for example: after create -> need to set initial status, need to create a notification, need to create the relationship in an M:N table....

One thing that i tried was adding a before create and after create callbacks into the blueprints.
Before i was just copying the whole blueprint and changing accord

[2015-03-27 13:34] mphasize commented on #26
I think I was in a similar situation. What I did eventually was to create a policy that adds all the data I need to the data passed into `beforeCreate` and `afterCreate`, so that I wouldn't need the `req` object anymore. Maybe that can help you?

[2015-03-27 14:03] alexjp commented on #26
Hum, probably yes, but seems overloading the data info.

i was thinking something along this:

[code]

in the controller.
Being a newbie in JS ( especially javascript in sails, i seem to get along fine with es6 promises in ember ), i wasnt able to manage promises and async correctly with without callbacks in the blueprints.

Could something like that be done ? if calling with a before and after ca

[2015-03-27 14:55] mgenev commented on #24
I don't think so

[2015-03-27 14:56] mgenev commented on #24
They released the new sails-mongo per my request and that fixed it for every blueprint

[2015-03-27 15:03] mphasize commented on #24
Thanks for the update. This means that after an update of `sails-mongo` it should also work with the ember blueprints.

[2015-03-27 15:20] mgenev commented on #24
Yep, I already tried it

[2015-03-28 14:43] jhliberty opened #28 "`sails generate ember-blueprints` failed with code 1"
Ran into this error when trying to setup a new sails/ember project. Any suggestions?

[code]

[2015-03-29 13:00] mphasize commented on #28
Related to #27 ... looks like the /api/blueprints directory is missing. Fix is coming soon, until then you can create the directory manually. Cheers!

[2015-03-29 13:07] #28 closed, assigned to nobody

[2015-04-01 12:08] crunchtime-ali commented on #20
Hey @mphasize, I basically need this feature to decrease the size of my JSON responses. Therefore protecting it would not be required.

For example:
In my post-model I got the full Markdown-text, a parsed representation of the post and a parsed excerpt.
In my admin-backend I'd only need to retrieve the markdown-text, on a single blogpost page I'd need the full parsed post and everywhere else just

[2015-04-01 12:29] timohofmeijer opened #30 "slug vs primaryKey"
I'd like the following route:
`app.example/username`
to call the following endpoint:
`api.example/user/username`

But the current findOne method only supports `pk`’s for looking up records, therefore I tweaked the `findOne` method so it works the way i want to, like so:

[code]

Could you perhaps suggest a more elegant way of working with slugs?

PS I'm really glad you continued working on this pr

[2015-04-01 15:48] timohofmeijer opened #31 "Single record responses have pluralized key"
The response for `/users/123` is currently:

[code]

while Ember seems to be expecting:

[code]

My setup (ember-cli 0.2.2 / ember 1.11.0 / ember-data 1.0.0-beta.16.1 / sails 0.11 / sails-generate-ember-blueprints 0.0.6) crapped out when requesting a single record saying:

[code]

[2015-04-01 18:05] mphasize commented on #31
I recently changed it to the plural form according to a comment from @bmac here #9.

Apparently the RESTSerializer considers the singular form to be a bit of a legacy thing: https://github.com/emberjs/data/blob/master/packages/ember-data/lib/serializers/rest-serializer.js#L283-L287

And so far the plural form is working for me. (Still have to update to the very latest Ember Data).
I will take anot

[2015-04-01 18:11] bmac commented on #31
@timohofmeijer does the response for /users/123 contain `id: 123`?

[2015-04-01 18:18] mphasize commented on #30
Well, I am hoping to eventually release an application I'm working on that is based on this project, so I have an interest in evolving it. :-)

Concerning the _slugs_ I would suggest to create a policy that transforms the slug into a primary key (basically the code you already got.) As far as I know, the original Sails blueprints do not handle slugs and I think we should stay as close as possible

[2015-04-01 18:22] mphasize commented on #20
Agreed that it's a great use case. Are you thinking of starting a PR for this?

[2015-04-01 19:17] timohofmeijer commented on #31
@bmac nope, I’m trying to fetch data using username_slug,
so:

[code]

responds with:

[code]

You think this is causing my issue? You know a nice way to ‘normalize’ this back into id’s?
(I was just disabling slugs here and seem to get less errors)

[2015-04-01 20:49] bmac commented on #31
Ah, Ember Data doesn't do so great when what it assumes to be the id (in this case `bla`) doesn't match the id on the record. https://github.com/emberjs/data/issues/2558

However, I think the fact that it isn't throwing a more helpful error message then "Expected an object as `data` in a call to `push` for ..." feels like an ED bug to me.

[2015-04-01 21:03] timohofmeijer commented on #31
That depends on how it was intended i think. If you want to support `store.find(<any model property>)` or just `store.find(<primary key>)`. A clarifying error message would be welcome in case of the latter : )

For now I solved it by changing `store.find('user', { username: params.user_slug })`. This also resolved my primaryKey issue in `sails-generate-ember-blueprints`. The only thing not so nice

[2015-04-02 06:48] mphasize commented on #31
This looks like a good solution to me, or at least like a good work-around. Feel free to continue the discussion here, but I'm going to close this issue for now.

[2015-04-02 06:48] #31 closed, assigned to nobody

[2015-04-02 13:45] alexjp commented on #26
Well closing this.
 i think there is the solutions by policy passing the req into the data, or creating services calling the blueprint code, or copy/pasting the blueprint.

@mphasize thanks for the comments.

[2015-04-02 13:45] #26 closed, assigned to nobody

[2015-04-02 13:46] alexjp commented on #4
Closing because should be on waterline, thanks mphasize

[2015-04-02 13:46] #4 closed, assigned to nobody

[2015-04-02 19:20] mphasize commented on #4
Thanks for cleaning the house. :-)

[2015-04-07 17:33] mgenev commented on #20
@mphasize i'm opening this up for discussion in the sane gitter, let's hope we come up with something as a team effort and pull it off quickly

[2015-04-07 18:02] mgenev commented on #20
Saving these issues for reference https://github.com/balderdashy/waterline/issues/266 https://github.com/balderdashy/waterline/pull/509  which @Globegitter says are prerequisites for a clean solution

[2015-04-16 18:27] Globegitter opened #33 "Only filles relationship-array with 30 elements"
This line https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templates/basic/api/blueprints/_util/actionUtil.js#L128 creates a bug in my ember app.

I am having a nested relationship (and organisation has many research projects and research projects can belong to many organisations, done via 1:n, n:1 relationship, since I need metadata on the join table) and when I load the re

[2015-04-23 03:00] anasyb commented on #33
Wow... just bumped into this... and was scratching my head about what's going on :P

In my case ember is requesting 57 mongo Ids at a time... and only getting back the 30 as @Globegitter mentioned.

I was thinking to solve it on the ember side by turning off [coalesceFindRequests](https://github.com/emberjs/data/blob/v1.0.0-beta.16.1/packages/ember-data/lib/adapters/rest-adapter.js#L233) (BTW a ve

[2015-04-23 03:03] anasyb commented on #33
...or maybe respond with an error... rather silently sending back the first 30 records :)

[2015-04-23 03:15] anasyb commented on #33
In my case its in `parseLimit()` not `populate`... so in addition to the line 128 mentioned by @Globegitter relating to populate, there is [this line](https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templates/basic/api/blueprints/_util/actionUtil.js#L386)

[2015-04-23 09:00] Globegitter commented on #33
@anasyb also just seeing https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/templates/basic/api/blueprints/_util/actionUtil.js#L158 now (as well as line 387), so it does at least get overwritten by the `&limit=x` parameter. But yeah it is certainly confusing and can take a while to track down the 'bug'.

It needs some resolution, at the very least some added documentation. I d

[2015-04-23 09:10] mphasize commented on #33
The first time I ran into this, it also took me a long while to figure out, so yes, it definitely needs to be mentioned in the docs. Normally you'd want some kind of pagination to kick in when there's too many records on the relationship, but if I remember correctly, it is rather hard to count the number of expected related records or even to know that there's more when using Waterline.

An additi

[2015-04-23 09:12] mphasize commented on #30
@timohofmeijer Did you manage to get slugs working with a policy?

[2015-04-23 09:12] #23 closed, assigned to nobody

[2015-04-23 09:56] Globegitter commented on #33
@mphasize there is a PR on waterline: https://github.com/balderdashy/waterline/pull/935 I should probably split the changes up into two PRs, but the idea was bring it to waterline first and then move it to sails. Would be great to hear some more opinions on the PR itself.

[2015-04-23 10:00] Globegitter commented on #33
@mphasize Yeah, it is a bit more of complicated issue to get this in an ideal way.

 It would also be great for ED to have the possibility to merge relationships in. I my case it always has a relationship already loaded, but then gets overwritten by the 30 limit and all of the sudden some text disappears on the ui. As you said, setting the limit much higher is a decent-enough workaround for a lot

[2015-04-23 10:02] timohofmeijer commented on #30
@mphasize I wanted to use ember-data’s store to find records like so: `this.store.find('user', 'timo')` (`api/users/timo`), while `id` was still the primary key in my sails `user` model. I changed your `findOne` blueprint to lookup records by their slug whenever the pk was not an integer, which worked just fine if it wasn‘t for ember-data throwing errors (`Expected an object as`data`in a call to`p

[2015-04-23 10:16] mphasize commented on #30
@timohofmeijer Thanks for your answer! I guess that will be helpful for other people who want to do something similar.

[2015-04-23 10:16] #30 closed, assigned to nobody

[2015-04-23 16:33] anasyb commented on #33
Sorry @Globegitter I didn't mean to throw an error, I meant respond with an error.
In ED logic: if I ask for ten IDs and you only send me five records, it means the other five no longer exist.
Sending a "limit exceeded" response is IMHO much less _drastic_ than sending a "five records deleted" response that messes the whole data without any clue of what went on.
The API only supports 30 records at

[2015-04-23 16:36] mgenev commented on #33
I haven't had all the comments here, but on gitter @tjwebb commented that this is in sails out of the box as well and it's rather normal to have a limit, not to serve infinite records since they can crash your server. I think if your use case requires more than 30 for default you should override the setting or on case by case basis use the limit param and use lazy loading or pagination... Overall

[2015-04-23 16:40] anasyb commented on #33
@mgenev I think what tjwebb was referring to is the ability to paginate with an offset+limit combo.. not the ability to know that there are even more associated records still available via the association.

[2015-04-23 16:42] mgenev commented on #33
@anasyb True, the associations also run into the limit, i don't see off the top of my head how this can be fixed other than returning meta data for the full count and making subsequent requests

[2015-04-23 16:45] anasyb commented on #33
exactly... we need waterline to give us a `moreRecordsAvailable` flag or something... as @mphasize said above, at the moment:

[2015-04-23 16:45] mgenev commented on #33
Ember Data supports metadata http://guides.emberjs.com/v1.10.0/models/handling-metadata/
Sails, i'm not sure, inquiring right now

[2015-04-23 16:46] Globegitter commented on #33
@mgenev @anasyb would be interesting to see how other libraries like rails and activerecord handle that.

[2015-04-23 16:56] mphasize commented on #33
@mgenev I believe that ED handles metadata for a "primary" request, but are there any examples for metadata on sideloaded relations?

[2015-04-23 17:26] mgenev commented on #33
@mphasize I'm also a bit confused by these docs, if things are loaded side by side and the meta is in the root of the json next to all the arrays, how would it resolve?

[2015-05-09 20:28] timohofmeijer opened #35 "Exclude particular associations"
Passport is part of my setup. I used to delete the `passports` property in the `toJSON` method, but with the `advanced` blueprints it is part of the response. Do you perhaps have a way of preventing this? `includeIn: false`? :no_mouth:

[2015-05-11 14:35] aars opened #36 "sideloaded models are not capitalized. (or, non-sideloaded models strangely capitalized)"
Sideloaded models are not capitalized in the returned json, for example:

[code]

And the other way around:

[code]

Here is the test setup I built to confirm this behaviour: https://github.com/aars/sails-generate-ember-blueprints-capitalisation

Of course now the issue is, Ember doesn't understand one of these since the ember models are either capitalized or not. (in this case the models name wou

[2015-05-11 14:37] aars commented on #36
Ooh! Is this the fix? https://github.com/mphasize/sails-generate-ember-blueprints/commit/507ed8c4bb6566526e5b25457a3f5df02f611f47

[2015-05-11 19:51] mgenev commented on #13
@huafu do you have the working example somewhere lying around that can go up on github? :)

[2015-05-11 19:55] mphasize commented on #36
@aars The desired outcome would definitely be capitalized models. Is the fix still missing somewhere? Which version of the blueprints are you using? (version number and basic or advanced?)

[2015-05-11 20:10] mphasize commented on #35
@timohofmeijer The `includeIn` parameter is only evaluated for associations/relationships, so deleting your property inside the `toJSON` method should still be the right way to do it.

I'm using this in one of my applications and it works well with the advanced API:

[code]

[2015-05-12 06:47] aars commented on #36
Grrr.. did not `--save` on `npm install` so it was missing from my test repo. I'm using 0.0.7 with advanced blueprints.

[code]

[2015-05-12 06:56] aars commented on #36
Odd. The changes in https://github.com/mphasize/sails-generate-ember-blueprints/commit/507ed8c4bb6566526e5b25457a3f5df02f611f47 are in my local 0.0.7 install. (the test repository)

[2015-05-12 07:21] aars commented on #36
I'm getting the feeling the issue is in sails itself.. Associations are already lowercased here: https://github.com/balderdashy/sails/blob/master/lib/hooks/orm/build-orm.js#L87

[2015-05-12 09:23] aars commented on #36
Ok, I'm pretty sure now that this is a Waterline issue and can only be resolved by not using camelCased model names. You can see here that Waterline intentionally undercases the model names in associations: https://github.com/balderdashy/waterline-schema/issues/4

[2015-05-12 09:23] #36 closed, assigned to nobody

[2015-05-12 15:22] aars commented on #36
Mmm.. even though I still think the underlying issue is in waterline. I think it can be fixed in the Ember service here. Maybe even should be fixed there. It would mean to using `sails.models[lowercasedmodelname].globalId` when formatting the json output. That would also mean that the current output would change, since the 'original' model name, as defined by the filename, would be presented. So i

[2015-05-12 19:14] mphasize commented on #36
@Globegitter Any ideas on this one? I won't be able to take a deeper look until the weekend.

[2015-05-13 09:19] aars commented on #36
https://github.com/mphasize/sails-generate-ember-blueprints/pull/37

[2015-05-14 09:53] timohofmeijer commented on #35
Odd.. thats exactly what I'm doing. It is a hasmany association with multiple passports, could that make a difference?. Passport are listed in the response when querying a single user as well as when querying multiple.

[2015-05-15 07:54] mphasize commented on #35
Yes, that would make a difference. As far as I know you don't have access to the associations inside toJSON (there are a couple of issues and pr's around some weird behavior there). If your passports come in the form of an association, an `includeIn: false` as you suggested earlier makes a lot more sense to me now. Would you be interested in creating a PR for that?

[2015-06-05 16:22] IanVS commented on #18
@mphasize Now that JSON API has been tagged at 1.0, what do you think it would take to reach 100% JSON API compliance?  There is a new ember-cli addon called [ember-jsonapi-resources](https://github.com/pixelhandler/ember-jsonapi-resources) that looks pretty fantastic.  Would be great if there were a way to use it with a sails.js backend.

[2015-06-09 16:02] mphasize commented on #18
@IanVS I've seen the ember-json-api effort and I'm generally in favor of building a complete JSON-API compliant output for Sails. However, looking at Ember Data it looks like the special REST flavor will stick around for a while and for the next couple of months I will focus my efforts here on finishing the blueprints for Ember Data 1.0. That said, I'm totally open to PRs for this project (and we

[2015-06-23 15:42] blia commented on #35
At now `includeIn: { list: false, detail: false }` works fine.

[2015-07-08 16:55] IanVS commented on #18
So, it seems that Ember Data has embraced JSON-API for their default REST adapter and serializer, and is using JSON-API for all of their internal structures as well.  There was a talk at Wicked Good Ember about this: https://youtu.be/xlplXK6SBao?list=PLE7tQUdRKcyaG1xOBeXbz0dlh7LZkFdyH

Due to these changes, do you think you'll shift focus from the legacy REST flavor to the new JSON-API?  I can try

[2015-07-08 19:33] mphasize commented on #18
@IanVS Yes, the plan is indeed to shift to JSON API. The specs are pretty well documented here http://jsonapi.org/ and any help would be greatly appreciated. If you start a PR I can definitely help out. Eventually I'll also get around to do it myself, but the next couple of weeks look pretty busy.

[2015-07-08 20:05] IanVS commented on #18
I wonder if it wouldn't make more sense to make a separate `sails-generate-jsonapi-blueprints` project? One of the nice things about JSON-API is that it is standardized and not only for Ember.  I hope it sees widespread adoption across various frameworks and APIs.

Would you be opposed to me taking a stab at creating such a project, based on the way you have this one set up?  We could always pull

[2015-07-09 11:32] mphasize commented on #18
Not at all, a proper naming can only benefit the purpose of the project. It should also be possible to implement the new API as a sails-hook instead of blueprints.

[2015-07-10 18:54] Andrew-Max opened #41 "QUESTION: Best practices for integrating these blueprints with custom routes"
Recently started using this library to get our sails backend to talk to the ember rest adapter. It's an awesome library so thanks!

I have one major question regarding how to implement this though:

As far as I know (and I'm very new to sails) custom defined routes do not ever interact with blueprints. After getting the blueprints running, our custom controller actions still return json in the old

[2015-07-11 19:11] mphasize commented on #41
Hi @Andrew-Max, with what we have at the moment, this is probably the best you can get. If you have a similar controller action in different controllers, you could create another blueprint (e.g. I'm using a `publish` blueprint in my app), but that's about it.
When we manage to turn this project from a generator into a `sails-hook`, things should get easier, but don't expect that to happen very soo

[2015-07-12 00:35] Andrew-Max commented on #41
Would there be any interest if I were to submit a pull request that created a serializer object inside of a service that could deal with serialization in custom actions in a clean way or does that fall outside of what you see as the scope of this project?

I'm thinking something like rails' active model serializers. Coming from the rails world, I really miss this functionality.

[2015-07-12 08:12] mphasize commented on #41
@Andrew-Max I'm not very familiar with Rails Serializers, but if I understand correctly what you are suggesting, it should still be within the scope of this project. I'd be happy to support custom actions in an easy and clean manner!

[2015-07-12 17:09] Andrew-Max commented on #41
Basic idea, is that  you would have a  service called UserSerializer and would be able to do something like:

User.findOne(1)
.then(function(user){
return res.json(UserSerializer.serialize(user, argsArray)
})

Where the user serializer would contain instructions for how to serialize a user object and could possibly take args which could allow you to specify different serialization schemes.

You co

[2015-07-12 17:09] #41 closed, assigned to nobody

[2015-07-15 02:44] rajgaire opened #42 "error with populate"
I was facing with a strange problem. When I had a model X and it had collection Y, then the path /Xs/:parentid/Ys returnd [] even when there was data.

When looking into the details and spending a couple of days of debugging, I found that the problem is with blacklist. I was creating blacklist for some parameters that I passed to get specific queries, but that blacklist was not including parent id

[2015-07-27 20:37] stebl opened #45 "Pluralizing sideloaded uncountable associations"
Is there a way to stop this from pluralizing sideloaded uncountable associations?

Ex. We're using the basic api, and we have a sails.js model and controller named Hardware.  Doing a find on different model with a relation to Hardware, causes the associations to be loaded as 'hardwares'

I think this is the offending section, https://github.com/mphasize/sails-generate-ember-blueprints/blob/master/

[2015-07-31 09:55] crunchtime-ali commented on #20
https://github.com/balderdashy/waterline/pull/952 replaces balderdashy/waterline#509.
`.pick()` and `omit()` are supposed to land in 0.11 (if it is every released).
I wouldn't bother waiting for https://github.com/balderdashy/waterline/issues/266 as using `pick()` and `omit()` will be sufficient for most.

[2015-08-10 00:53] IanVS commented on #18
I've released an initial version of [sails-hook-jsonapi](https://github.com/IanVS/sails-hook-jsonapi).

[2015-08-12 07:51] wayne-o opened #46 "Are these blueprints compatible with the new JSON API Adapter and Serializer in ember data 1.13?"

[2015-08-13 12:54] mphasize commented on #46
For the moment ED 1.13 is backwards-compatible with these blueprints. However, the API will need to change in the future to stay compliant.

[2015-08-13 12:55] #46 closed, assigned to nobody

[2015-08-21 17:25] camsjams opened #47 "Using an unserialized object as a model in actionUtil/emberizeJSON"
Hi,

Thanks for the wonderful blueprint!

I'm manually calling the blueprint in one of my controllers for a special case and it's working great.

[code]

Now I'm trying to add a cache layer to that same Sails controller but was having some issues when it comes to deserializing the stored data.

Perhaps I'm using the library in a way it wasn't intended but basically I'm using this process:

[code]

[2015-09-13 15:35] listepo commented on #17
what status version 0.1.0?

[2015-09-14 12:35] listepo commented on #17
It would be useful https://github.com/tjwebb/marlinspike

[2015-10-10 17:09] nehalist opened #48 "Missing "," in docs"
There's a missing comma in the docs under "Accessing the REST interface without Ember Data".

[code]

Wanted to try it out and blindly copied the json - took me some minutes of my life to find the error ;>

[2015-11-25 13:02] manuel-reil opened #49 "Associations between models"
Hello,

first, thank you for these blueprints!

These sails-generate-ember-blueprints do not contain the "add" function in contrast to the original sails blueprints (http://sailsjs.org/documentation/reference/waterline-orm/populated-values/add).

We have two basic use cases:
- via ember.js
- in sails-only "scripts", like an initial data importer that needs to establish multiple associations while

[2015-11-25 13:14] mphasize commented on #49
Hi Manuel, Ember Data used to send relationships as complete arrays and at least in my testing would never actually use the add/remove endpoints. That's why I removed them, but feel free to add.

But I have to say, that the current blueprints are not up to date with the latest developments. As far as I know, the recommended Ember way for 2+ is to go fully JSON API. The blueprints in their current

[2017-04-05 21:05] mdconaway opened #55 "Library Modernization"
Mphasize,

I can see you have moved on to other things, but my group heavily uses this library and has started to refactor it a bit with the goal of making it usable as sails moves into version 1.0+.

I just posted it on GitHub and NPM:
https://github.com/mdconaway/sails-ember-rest
https://www.npmjs.com/package/sails-ember-rest

Let me know if there is anything else I can do to cite your library a

[2017-04-06 12:42] mphasize commented on #55
@mdconaway Excellent news and thanks for the attribution. I'm happy to link to the effort from this repo and help to move some users over.

[2017-04-06 15:57] mdconaway commented on #55
Yeah, that sounds great! I'd like to keep the momentum for this project alive, it has made building a CRUD server a trivial task and reduced my team's iteration cycle time drastically.

[2017-06-03 13:12] mdconaway commented on #55
Hey mphasize, I just made a pull request to add a link in the readme.

[https://github.com/mphasize/sails-generate-ember-blueprints/pull/56](https://github.com/mphasize/sails-generate-ember-blueprints/pull/56)

Thanks!

[2017-06-03 13:15] mphasize commented on #55
Already merged :-)

[2017-06-03 13:15] #55 closed, assigned to nobody

[2017-06-03 13:16] mphasize commented on #48
Belatedly fixed.

[2017-06-03 13:16] #48 closed, assigned to nobody

[2017-06-03 13:17] #12 closed, assigned to nobody

[2017-06-03 13:18] mphasize commented on #12
See https://github.com/mdconaway/sails-ember-rest for the latest approach to doing Sails-Ember

[2017-06-03 13:27] mdconaway commented on #49
Manuel,

If you are still interested in gaining **add** support:

Via a pull request,
Could you drop an add.js action here:
[https://github.com/mdconaway/sails-ember-rest/tree/master/templates/actions](https://github.com/mdconaway/sails-ember-rest/tree/master/templates/actions)

and then simply reference that action here:
[https://github.com/mdconaway/sails-ember-rest/blob/master/templates/control

[2017-06-03 18:00] mdconaway commented on #33
For anyone still tracking this issue, it has landed in [sails-ember-rest](https://github.com/mdconaway/sails-ember-rest) here:

[https://github.com/mdconaway/sails-ember-rest/blob/master/templates/actions/populate.js#L63](https://github.com/mdconaway/sails-ember-rest/blob/master/templates/actions/populate.js#L63)

This does not solve the side-loading questions above, but if you force your desired

[2021-08-06 09:31] #7 closed, assigned to nobody

[2021-08-06 09:31] #17 closed, assigned to nobody

[2021-08-06 09:31] #18 closed, assigned to nobody

[2021-08-06 09:31] #20 closed, assigned to nobody

[2021-08-06 09:31] #33 closed, assigned to nobody

[2021-08-06 09:31] #35 closed, assigned to nobody

[2021-08-06 09:31] #42 closed, assigned to nobody

[2021-08-06 09:31] #45 closed, assigned to nobody

[2021-08-06 09:31] #47 closed, assigned to nobody

[2021-08-06 09:31] #49 closed, assigned to nobody